params {
  // set up default params
  containerPath = "file:///cluster/projects/p193/OI/bug_exit_signal//"
}
process {
  beforeScript = "source /cluster/bin/jobsetup \
&& module purge \
&& set -o errexit \
&& module load singularity/2.6.1"
  container = "${params.containerPath}/bug_exit_signal.simg"
}
singularity {
  enabled = true
  runOptions = "-B /cluster,/tsd,/work,/net"
  cacheDir = params.containerPath
}
